---
title: categories
layout: default
permalink: /categories/
---
<h1 class="page_categories_title">分类</h1>
<div id="page_categories_list" class="container">
	{% for category in site.categories%}
	  <span class="page_category">{{ category[0] }}  ({{ category[1].size }})</span>
	{% endfor %}

</div>

<div class="posts" id="page_categories_posts">
	{% for category in site.categories %}
	  <span class="page_category" id="{{ category[0] }}">{{ category[0] }}</span>
		{% for post in category[1] %}
			{% include article.html %}
		{% endfor %}
	{% endfor %}
</div>


