//---
//---

//
// IMPORTS
//

@import "_sass/reset";
@import "_sass/variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
    font-size: 100%;
}

* {
    font-family: $microsoft;
}

body {
    //background: $yellowwhite;
    font: 16px/1.4 $microsoft;
    color: $darkGray;
    background-image:url('images/bg.png');
    background-repeat:repeat;
}

.container {
    margin: 0 auto;
    max-width: $maxWidth;
    padding: 0 10px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $helveticaNeue;
    color: $darkerGray;
    font-weight: bold;

    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;

    @include mobile {
        line-height: 1.4;
    }
}

h1 {
    font-size: 30px;
    a {
        color: inherit;
    }
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    color: $gray;
}

p {
    margin: 15px 0;
}

a {
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active {
        color: $blue;
    }
}

ul, ol {
    margin: 15px 0;
    padding-left: 30px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
    margin: 0;
}

ul ul, ol ul {
    list-style-type: circle;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

img {
    max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

.date {
    font-style: italic;
    color: $gray;
}

// Specify the color of the selection
::-moz-selection {
    color: $black;
    background: $lightGray;
}
::selection {
    color: $black;
    background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
    margin-bottom: 50px;
    position:fixed;
    top:0px;
    z-index:11;
    //background-image:url('images/bg-light.jpg');
    //background-repeat:repeat;
    background:#222;
    width:100%;
    color:#9d9d9d;

    //height:50px;
    //line-height:50px;

    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    border-radius: 0;
}

.wrapper-down{
    box-shadow:0 0 5px #888888;
}

.masthead {
    padding: 5px 0;
    //border-bottom: 1px solid $lightGray;

    @include mobile {
        text-align: center;
    }
}

.site-avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }

    img {
        border-radius: 5px;
    }
}

.site-info {
    float: left;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    margin: 0;
    //color: $darkGray;
    color:#9d9d9d;
    cursor: pointer;
    //font-family:$daughter;
    font-weight: 300;
    font-size: 30px;
    height:40px;
    line-height:40px;
    letter-spacing: 1px;

    display:none;
}

.site-description {
    margin: -5px 0 0 0;
    //color: $gray;
    color:#9d9d9d;
    font-size: 16px;
    //font-family:$handlee;

    height:50px;
    line-height:50px;

    @include mobile {
        margin: 3px 0;
    }
}

nav {
    float: right;
    //margin-top: 23px; // @TODO: Vertically middle align
    font-family: $helveticaNeue;
    font-size: 18px;
    height:50px;
    line-height:50px;

    @include mobile {
        float: none;
        margin-top: 9px;
        display: block;
        font-size: 16px;
    }

    a {
        margin-left: 20px;
        //color: darkGray;
	color:#9d9d9d;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1px;

        @include mobile {
            margin: 0 10px;
            color: $blue;
        }
    }
}

//
// .main
//

#main{
    position:relative;
    padding-top:80px;

    @include mobile {
        padding-top:206px; 
    }
}

.posts > .post {
    //padding-bottom: 2em; 
    height:30px;
    font-size:16px;
    color:#999999;
    border-bottom: 1px solid $lightGray;
}

.posts > .post:first-child {
    margin-top: 1.5em;
}

.posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}

.post {
    .time{
	color:#999999;
        display:inline-block;
        margin-right:30px;    
    }

    .title{
	color:#dd0000;
       
    }

    blockquote {
        //margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 15px;
        //font-style: italic;
    }

    .entry{
        text-indent:0em;
    }

    .comments {
        margin-top: 10px;
    }

    .read-more {
        text-transform: uppercase;
        font-size: 15px;
    }

    .page-tags{
        list-style:none;
        display:inline-block;
        li{
            display:inline-block;
            list-style:none;
            background:$lightblue;
            border-radius:5px;
            padding:0px 5px;
            margin:0px 5px;
            color:#FFF;
        }
    }
}

.detail-post{
    .title{
	font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
        font-size:26px;
        color:#000;
	padding:.5em 0;
	border-bottom: 1px solid #cccccc;
    }
    .date{
	font-style:normal;
	font-size:12px;
	color:#888888;
    }
    .categories{
	color:#888;
	font-size:12px;
    }
    .categories-list{
	color:#bb0000;
	font-size:12px;
    }
    .tags{
	color:#888;
	font-size:12px;
    }
    .tags-list{
	color:#bb0000;
	font-size:12px;
	a{
	    color:#bb0000;
	   
	}
    }
    .space{
	color:#888888;
	font-size:12px;
    }
}

.wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    //background-color: $lightGray;
}

footer {
    padding: 2px 0;
    text-align: center;
}

//
//menus
//
#menus{
    position:fixed;
    z-index:10;
    width:200px;
    border-top:1px solid $lightGray;
    right:0px;
    top:111px;

    @include mincontent{
        display:none; 
    }

    .menuname{
        height:40px;
        line-height:40px;
        overflow:hidden;
        margin-left:30px;
        border-bottom:1px solid #666666;
        color:#666666;
        font-weight:bold;
        letter-spacing:0.5px;
    }
}

#menus-tags{
    list-style:none;

    li{
        border-radius: 3px;
        color: #767676;
        cursor: pointer;
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
        overflow: hidden;
        padding: 8px 10px;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
		float:left;
    }

    li:hover{
        //background:#eeeeee;
        color:#648eb7;
    }

    li:active{
        background:#eeeeee;
    }

    li:before, li::before{
        content:'';
        background:#648eb7;
        position:absolute;
        width:6px;
        height:6px;
        border-radius:50%;
        left:0px;
        top:15px;
		display:none;
    }
}

//
//tags page
//
.page_tags_title{
	border-bottom:1px solid #cccccc;
	color:#2C3E50;
	margin-bottom:5px;
}

#page_tags_list{
	display:block;
	position:relative;
	width:100%;
	margin:3px 0px 20px 0px;
	padding:0px;

	span.page_tag{
		padding:1px 4px 0px 0px;
		display:inline-block;
		color:#bb0000;
		font-size:16px;
	}
}

//
// categories page
//

.page_categories_title{
    border-bottom:1px solid #cccccc;
    color:#2C3E50;
    margin-bottom:5px;
}

#page_categories_list{
    display:block;
    position:relative;
    width:100%;
    margin:3px 0px 20px 0px;
    padding:0px;

    span.page_category{
        padding:1px 4px 0px 0px;
        display:inline-block;
        color:#bb0000;
        font-size:16px;
    }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_sass/highlights";
@import "_sass/svg-icons";

