article blockquote {
    padding: 15px 30px 15px 15px;
    margin: 20px 0;
    background-color: rgba(204,122,111,0.1);
    border-left: 5px solid rgba(191,87,73,0.2)
}

article blockquote h4 {
    margin-top: 0
}

article blockquote p {
    margin-bottom: 0
}

article blockquote p:first-child {
    font-weight: bold;
    font-size: 17.5px;
    line-height: 20px;
    margin-top: 0;
    text-rendering: optimizelegibility
}