
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

//Blues
$lightblue:#73C0ED;

//Green
$lightgreen:#23ccbe;
$lowgreen:#b8d8d5;

//Background
$yellowwhite:#fbfbf9;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$daughter:'Architects Daughter', cursive;
$handlee: 'Handlee', cursive;

//Max width

$maxWidth: 740px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin mincontent {
  @media screen and (max-width: $maxWidth ) {
    @content;
  }
}
