// Custom styles.

.fa-heart:before {
    content: "\f004";
    color: #ff00008a;
}
.pagination{
    text-align: center;
}

.footer-inner{
    text-align: center;
}


.post-button{
    text-align: right;
}



  
